:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0, 32, 78);
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    background:rgb(0, 32, 78);
    background: linear-gradient(180deg, rgba(41, 40, 47, 1) 51%, rgba(54, 54, 59, 1) 100%);
}

.container input[type="text"],
.container input[type="Password"] {
    color: white;
    position: relative;
    top: 20px;
    width: 280px;
    text-align: center;
    border: 0;
    background: none;
    margin: 10px auto;
    border: 2px solid green;
    border-radius: 10px;
    padding: 14px 10px;
    outline: none;
}

.container h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.container input[type="button"] {
    position: relative;
    top: 100;
    text-align: center;
}


.container input[type="button"] {

    position: relative;
    color: white;
    width: 75px;
    text-align: center;
    border: 0;
    background: none;
    margin: 10px auto;
    border: 2px solid rgb(0, 138, 0);
    border-radius: 10px;
    padding: 14px 10px;
    outline: none;
}

p.text {
color: white;
    
}
p.text2 {
    color: lightgrey;  
}


.custom-select {
    display: none;
}

.select {
    display: inline-flex;
    flex-direction: column;
    background: rgb(29, 53, 45);
    list-style: none;
    padding: 0.6rem;
}

.select span img {
    width: 1em;
    height: 1em;
    margin: 0;
    margin-left: 1em;
    display: inline;
    transition: all 200ms ease-in-out;
}

.rotated {
    transform: rotate(180deg);
}

.select li {
    background: rgb(38, 70, 60);
    display: none;
    padding: 0.6rem;
}

.select li:nth-child(odd) {
    background: rgb(29, 53, 45);
}

.select .visible {
    display: inherit;
    z-index: 2;
    position: absolute;
}

