
.question {
	margin-bottom: 1rem;
}

.question-toggle {
	margin: 0;
	padding: 0 18px;
	width: 100%;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: left;
	background-color: #2F2F2F;
	color: white;
}

.question-content {
	overflow: hidden;
	max-height: 0px;
	margin: 0;
	background: #282828;
}

.answers {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
}

.answer input {
	margin: auto;
	width: 100%;
}
